<section class="thirteen columns">

    <br>
    <br>

    <article>
        <strong>Editorship</strong>
    </article>
    <ul class="service-list">
        <li><span class="service-name"><strong>Associate Editor</strong>, <a href="https://www.elspub.com/journals/blockchain/home/" target="_blank">Blockchain</a></span><span class="service-years">2025-</span></li>
        <li><span class="service-name"><strong>Associate Editor</strong>, Frontiers in Blockchain (<a href="https://www.frontiersin.org/journals/blockchain/sections/blockchain-for-web3-and-the-metaverse" target="_blank">Blockchain for Web3 and the Metaverse</a>)</span><span class="service-years">2026-</span></li>
        <li><span class="service-name"><strong>Youth Editorial Board</strong>, Blockchain Research and Applications <a href="https://www.sciencedirect.com/journal/blockchain-research-and-applications" target="_blank">(BCRA)</a></span><span class="service-years">2024-</span></li>
        <li><span class="service-name"><strong>Guest Editor</strong>, IET Blockchain (Special issue on <a href="https://ietresearch.onlinelibrary.wiley.com/hub/journal/26341573/homepage/call-for-papers/si-2024-blockchain-ai-integration" target="_blank">BC+AI</a>)</span><span class="service-years">2024-</span></li>
        <li><span class="service-name"><strong>Guest Editor</strong>, Electronics, (Special issue on <a href="https://www.mdpi.com/journal/electronics/special_issues/U8FVL603TH" target="_blank">BC+AI</a>)</span><span class="service-years">2025-</span></li>
        <li><span class="service-name"><strong>Guest Editor</strong>, Frontiers in Blockchain (<a href="https://www.frontiersin.org/research-topics/68059/dao-governance-and-fairness" target="_blank">DAO Governance and Fairness</a>) [<a href="https://www.frontiersin.org/journals/blockchain/articles/10.3389/fbloc.2026.1840145/full" target="_blank">editorials</a>]</span><span class="service-years">2023-2026</span></li>
        <li><span class="service-name"><strong>Reviewer Board</strong>, Frontiers in Blockchain (<a href="https://www.frontiersin.org/journals/blockchain/sections/blockchain-in-industry/editors" target="_blank">Blockchain in Industry</a>)</span><span class="service-years">2023-</span></li>
        <li><span class="service-name"><strong>Reviewer Board</strong>, <a href="https://www.igi-global.com/journals/open-access/reviewers/international-journal-blockchain-applications-secure/290373" target="_blank">IJBASC</a></span><span class="service-years">2023-</span></li>
    </ul>

    <br>
    <article>
        <strong>Organizing committee</strong>
    </article>
    <ul class="service-list">
        <li><span class="service-name"><strong>Local chair</strong>, International Conference on Software Architecture (<a href="https://conf.researchr.org/committee/icsa-2027/icsa-2027-organizing-committee" target="_blank">ICSA</a>)</span><span class="service-years">2027</span></li>
        <li><span class="service-name"><strong>General chair</strong>, Workshop on Trustworthy Agentic Theory (<a href="https://tat-icsa-2027.utscyber.com/#cfp" target="_blank">TAT</a>)@ICSA</span><span class="service-years">2027</span></li>
        <li><span class="service-name"><strong>General chair</strong>, Workshop on Crypto for Real World Asset (<a href="https://crwa.site" target="_blank">CRWA</a>)@AsiaCrypt</span><span class="service-years">2025, 2026</span></li>
        <li><span class="service-name"><strong>Program co-chair</strong>, IEEE Cyber Science and Technology Congress (<a href="https://cyber-science.org/2026/cyberscitech/" target="_blank">CyberSciTec</a>)</span><span class="service-years">2026</span></li>
        <li><span class="service-name"><strong>General chair</strong>, International Conference on Blockchain (<a href="https://www.servicessociety.org/icbc" target="_blank">ICBC</a>) [<a href="https://link.springer.com/book/10.1007/978-3-031-44920-8" target="_blank">proceedings</a>]</span><span class="service-years">2023</span></li>
    </ul>

     <br>
    <article>
        <strong>Program committee</strong>
    </article>
    <ul class="service-list">

        <li class="service-group">Security</li>
        <li><span class="service-name">Network and Distributed System Security Symposium (<a href="https://www.ndss-symposium.org/ndss2026/" target="_blank">NDSS</a>)</span><span class="service-years">2026, 2027</span></li>
        <li><span class="service-name">USENIX Security Symposium (<a href="https://www.usenix.org/conference/usenixsecurity27" target="_blank">USENIX Security</a>)</span><span class="service-years">2027</span></li>
        <li><span class="service-name">ACM Conference on Computer and Communications Security (<a href="https://www.sigsac.org/ccs/CCS2026/" target="_blank">CCS</a>)</span><span class="service-years">2026</span></li>
        <li><span class="service-name">ACM Asia Conference on Computer and Communications Security (<a href="https://asiaccs2027.cityu.edu.mo/program-committee/index.html" target="_blank">AsiaCCS</a>)</span><span class="service-years">2027</span></li>
        
        <li class="service-group">Blockchain</li>
        <li><span class="service-name">International Conference on Financial Cryptography and Data Security (<a href="https://fc27.ifca.ai/" target="_blank">FC</a>)</span><span class="service-years">2025-2027</span></li>
        <li><span class="service-name">IEEE International Conference on Blockchain and Cryptocurrency (<a href="https://icbc2026.ieee-icbc.org/group/91" target="_blank">ICBC</a>)</span><span class="service-years">2025, 2026</span></li>
        <li><span class="service-name">IEEE International Conference on Blockchain (<a href="https://ieee-cybermatics.org/2025/blockchain/" target="_blank">IEEE Blockchain</a>)</span><span class="service-years">2023-2025</span></li>
        <li><span class="service-name">Blockchain Research and Applications Conference (<a href="https://bcra-conf.seedsbit.com/committee/tpc" target="_blank">BCRA</a>)</span><span class="service-years">2025, 2026</span></li>
        <li><span class="service-name">International Conference on Blockchain Computing and Applications (<a href="https://bcca-conference.org/2026/" target="_blank">BCCA</a>)</span><span class="service-years">2026</span></li>
        <li><span class="service-name"><a href="https://bck-2025.isrdc.in" target="_blank">Blockchain Kaigi</a> (BCK)</span><span class="service-years">2025, 2026</span></li>
        <li><span class="service-name">ACM Symposium on Applied Computing (<a href="https://www.cas-blockchain-certification.com/en/acm-sac-dapp-track" target="_blank">SAC</a>), DApp Track</span><span class="service-years">2025, 2026</span></li>
        <li><span class="service-name">Blockchain and Secure Critical Infrastructure (<a href="https://www.cloud-conf.net/bsci/2026/committees.html" target="_blank">BSCI</a>)@AsiaCCS</span><span class="service-years">2023-2026</span></li>
       
        <li class="service-group">AI</li>
            <li><span class="service-name">Conference on Neural Information Processing Systems (<a href="https://neurips.cc/" target="_blank">NeurIPS</a>)</span><span class="service-years">2027</span></li>
            <li><span class="service-name">AAAI Conference on Artificial Intelligence (<a href="https://aaai.org/conference/aaai/aaai-27/AAAI" target="_blank">AAAI</a>)</span><span class="service-years">2026, 2027</span></li>
        <li><span class="service-name">International Joint Conference on Artificial Intelligence (<a href="https://2026.ijcai.org/" target="_blank">IJCAI</a>)</span><span class="service-years">2025, 2026</span></li>
        <li><span class="service-name">ACM International Conference on Multimedia (<a href="https://2026.acmmm.org/" target="_blank">ACMMM</a>)</span><span class="service-years">2026</span></li>
        <li><span class="service-name">Agent Skills Workshop (<a href="https://www.agentskills-workshop.org/" target="_blank">Skills</a>)@CAIS</span><span class="service-years">2026</span></li>
        <li><span class="service-name">International Workshop on Agentic Engineering (<a href="https://conf.researchr.org/home/icse-2026/agent-2026" target="_blank">AGENT</a>)@ICSE</span><span class="service-years">2026</span></li>
        <li><span class="service-name">ACM/IEEE International Conference on AI-Powered Software (<a href="https://2025.aiwareconf.org/" target="_blank">AIware</a>)@ASE</span><span class="service-years">2026</span></li>
        <li><span class="service-name"><a href="https://icdlt.ieeepunesection.org/" target="_blank">ICDLT</a></span><span class="service-years">2025</span></li>
    
        <li class="service-group">More</li>
        <li><span class="service-name">ACM Web Conference (<a href="https://www2026.thewebconf.org/" target="_blank">WWW</a>)</span><span class="service-years">2025, 2026</span></li>
        <li><span class="service-name">ACM SIGKDD Conference on Knowledge Discovery and Data Mining (<a href="https://kdd2026.kdd.org/" target="_blank">KDD</a>)</span><span class="service-years">2026</span></li>
       

        <li class="service-group">Others</li>
        <li><span class="service-name">Decentralized Physical Infrastructure Networks Workshop (DePIN)@ICBC</span><span class="service-years">2024</span></li>
        <li><span class="service-name">Decentralized Physical Infrastructure Networks Workshop (DePIN)@WF-IoT</span><span class="service-years">2023</span></li>
        <li><span class="service-name">Network and System Engineering (NSE)</span><span class="service-years">2023</span></li>
    </ul>

     <br>
    <article>
        <strong>Journal reviewer</strong>
    </article>
    <ul class="service-list">
        <li><span class="service-name">IEEE Transactions on Dependable and Secure Computing (TDSC)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Information Forensics and Security (TIFS)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Software Engineering (TSE)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Parallel and Distributed Systems (TPDS)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Neural Networks and Learning Systems (TNNLS)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Computers (TC)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Network and Service Management (TNSM)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Network Science and Engineering (TNSE)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Industrial Informatics (TII)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Intelligent Transportation Systems (TITS)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Big Data (TBD)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Computational Social Systems (TCSS)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Transactions on Consumer Electronics (TCE)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">IEEE Internet of Things Journal (IoTJ)</span><span class="service-years">IEEE</span></li>
        <li><span class="service-name">ACM Transactions on Multimedia Computing,Communications and Appli. (TOMM)</span><span class="service-years">ACM</span></li>
        
        <li><span class="service-name">ACM Computing Surveys (CSUR)</span><span class="service-years">ACM</span></li>
        <li><span class="service-name">ACM Transactions on Multimedia Intelligent Systems (TMIS)</span><span class="service-years">ACM</span></li>
        <li><span class="service-name">ACM Transactions on Autonomous and Adaptive Systems (TAAS)</span><span class="service-years">ACM</span></li>
        <li><span class="service-name">ACM Distributed Ledger Technologies: Research and Practice (DLT)</span><span class="service-years">ACM</span></li>

        <li><span class="service-name">Future Generation Computer Systems (FGCS)</span><span class="service-years">Elsevier</span></li>
        <li><span class="service-name">Blockchain: Research and Applications (BCRA)</span><span class="service-years">Elsevier</span></li>
        <li><span class="service-name">Neurocomputing</span><span class="service-years">Elsevier</span></li>
    </ul>

     <br>
    <article>
        <strong>Community reviewer</strong>
    </article>
    <ul class="service-list">
        <li><span class="service-name">Cardano's Research Project</span></li>
    </ul>
</section>

 <br>
 <br>
