<section class="thirteen columns">
    <h1>Academic Activities</h1>
    <article>
     <p>
      <br>Talk (PoA security), Blockchain Technology in Cross-Border Data Security (HKCT). Aug 2026. Hongkong&Online
      <br>Presentation (LLM4SC), ACISP, Jul 2026. Perth, Australia
      <br>Presentation (Vechain attack), WWW, Jul 2026. Online
      <br>Session chair/Presentation, ICBC. Jun 2026. Brisbane, Australia
      <br>Talk (PoA security), Digital Currency Security and Privacy Forum (Tsinghua). May 2026. Online
      <br>Chairing 1st <a href="https://crwa.site" target="_blank">CRWA</a>, Asiacrypt workshop. Dec 2025. Melb, Australia
      <br>Keynote/session chair, CCS workshop (LAMPS). Aug 2025. Taipei, Taiwan (China)
      <br>Presentation (BRC20 snipping attack), AsiaCCS. Aug 2025. Hanoi, Vietnam
      <br>Panel (Decentralized AI at scale), WWW side event. April 2025. Sydney, Australia
      <br>Talk (BRC20 attack), UTS end-year's cybersecurity seminar. Dec 2024. Sydney, Australia
      <br>Talk (BRC20 attack), UNSW end-year's CSE Seminar. Dec 2024. Sydney, Australia
      <br>Presentation (BC&AI), IEEE <a href="https://ieee-cybermatics.org/2024/blockchain/" target="_blank">Blockchain</a>. Aug 2024. Online
      <br>Presentation (BRC20 and inscription), IEEE <a href="https://icbc2024.ieee-icbc.org/" target="_blank">ICBC</a>. May 2024. Dublin, Ireland
      <br>Presentation (Account abstratoin), IEEE <a href="https://ieee-cybermatics.org/2023/blockchain/" target="_blank">Blockchain</a>. Dec 2023. Hainan, China
      <br>Talk (Tokenomics), <a href="https://blockchain.innovationkyoto.org/bck2023/" target="_blank">BCK2023</a>. Oct 2023. Kobe, Janpan
      <br>Talk (Ponzi n stablecoin), <a href="https://dfcrc.com.au/" target="_blank">DFCRC</a> Seminar. Aug 2023. Sydney, Australia
      <br>ETHGlobal Community <a href="https://twitter.com/ETHGlobal/status/1631231259451215873" target="_blank">Call</a> (China). March 2023. Online [<a href="https://ethglobal.medium.com/inside-chinas-ethereum-ecosystem-9fe3605c3d7a" target="_blank">Media</a>]
      <br>
      <br>More (<strong>Host/Talk/Presentation</strong>) in <strong><a href="https://qinwang.tech/static/img/talk_list.pdf" target="_blank">Full List</a></strong>
     </p>

    <br><strong>Short visit</strong>: with my sinecere thanks for their kind hospitality
     <br>- Prof. <a href="https://www.doc.ic.ac.uk/~wjk/" target="_blank">Joseph Liu</a> (Monash U). Dec. 2025
     <br>- Prof. <a href="https://www.doc.ic.ac.uk/~wjk/" target="_blank">William Knottenbelt</a> (Imperial College London). Jun. 2024
     <br>- Prof. <a href="https://www.gsais.kyoto-u.ac.jp/staff/ikeda/en_index.html" target="_blank">Yuichi Ikeda</a> (Kyoto U). Oct. 2023
    </article>
</section>
