<section class="thirteen columns">

<article>
<strong>
    I am a <a href="https://www.wikiwand.com/en/Academic_ranks_(Australia_and_New_Zealand)" target="_blank"> Research Scientist </a> at CSIRO Data61 (started from Jan, 2022). Before that, I had my PhD career at Swinburne University of Technology, 
    being advised by <a href="http://nsclab.org/yang/" target="_blank"> Prof.Yang Xiang </a> and <a href="https://www.cse.unsw.edu.au/~z9195738/" target="_blank"> Dr.Shiping Chen</a>. 
    Previously, I received my Master’s degree from Beihang University (BUAA), advised by <a href="http://cst.buaa.edu.cn/info/1040/3387.htm" target="_blank"> Prof.Qianhong Wu </a>, 
    and Bachelor’s degree from Northwestern Polytechnical Univerisity (NPU).
    
    
    
<br>   
<br> (Full bio <a href="https://qinwang.tech/static/img/CV(short).pdf" target="_blank">here</a>)



<br>
<br> I’m broadly interested in blockchain technology. My research mainly covers the techniques from applied cryptography and distributed computing systems. Currently, I’m focusing on the topics listed below. 
<br>
<br> - Tokenomics (NFT/DAO/DeFi/Ponzi)
<br> - Underlayer Protocols (scalability, security, privacy)
    
<br>     
<br> (Detials <a href="https://qinwang.tech/static/img/Research_Statement.pdf" target="_blank">here</a>)
</strong>   
</article>
    
</section>

<hr>



