
<section class="thirteen columns">
<h1>Project Engagement (long-term)</h1>
 
    <article>
    <strong> We are engaged in an experimentally collaborative project (10yrs) with Digital Finance CRC (<a href ="https://dfcrc.com.au/" target="_blank">DFCRC</a>) and Reserve Bank of Australia (<a href ="https://www.rba.gov.au/" target="_blank">RBA</a>) and on wholesale Central Bank Digital Currency (<a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/wholesale-central-bank-digital-currency.html#project-acacia" target="_blank">CBDC</a>). </strong>
    </article>
 
    <article>
        <header>
            <strong>Project <a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/about.html" target="_blank">Acacia</a></strong> 
            <br> - Exploring the potential and future of wholesale CBDCs. 
            <br> with <a href ="https://markstaples.com/" target="_blank">Mark Staples</a>, Vincent Jadraque, <a href ="https://dilum.bandara.lk/" target="_blank">Dilum Bandara</a>, James Sangalli and RBA teammates 
         
         <br>
         <br>resources towards public:
         <br>
         
            <br> - 2025: (continuing)
            <br> - 2024: Exploring and evaluating the settlement models of wholesale CBDCs, with [<a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/pdf/project-acacia-consultation-paper-2024-11.pdf" target="_blank">consaltant paper</a>].
            <br> - 2023: Exploring CBDC use cases in real life, in [<a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/pdf/australian-cbdc-pilot-for-digital-finance-innovation-project-report.pdf" target="_blank">pilot study</a>].
            
            
        <br>
            <br> more in RBA's [<strong><a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/wholesale-central-bank-digital-currency.html" target="_blank">webpage</a></strong>]
        </header>
    </article> 
</section>    

<section class="thirteen columns">
<h1>Standards</h1>
    
    <article>
    <strong> We are participating in several standard-drafting processes. Any comments are warmly welcome. </strong>
    </article>

   <article>
        <header>
            [<strong><a href = "https://www.ietf.org/archive/id/draft-chen-dlt-gateway-identification-01.txt" target="_blank">IETF</a></strong>]
               <strong> Gateway Identification and Discovery</strong>  (primary version)
            <br> Internet Engineering Task Force
            <br> with Shiping Chen, Thomas Hardjono
        </header>
    </article> 
        
    <article>
        <header>
            [<strong><a href = "https://eips.ethereum.org/EIPS/eip-5521" target="_blank">EIP</a></strong>]
              <strong> ERC5521: Referable NFT</strong>  (<font color="magenta">finalized!</font>)
            <br> Ethereum Improment Proposal (p.s., ERCs are application-level EIPs)
            <br> - [<a href = "http://www.r-nft.io/" target="_blank">webpage</a>][<a href = "https://arxiv.org/pdf/2210.10910.pdf" target="_blank">doc</a>]
            <br> with Saber Yu, Shiping Chen, et al.
        </header>
    </article> 

      <article>
        <header>
            [<strong><a href = "https://eips.ethereum.org/EIPS/eip-7634" target="_blank">EIP</a></strong>]
              <strong> ERC7634: Limited transfer count NFT </strong>  (<font color="magenta">finalized!</font>)
            <br> Ethereum Improment Proposal
            <br> with Saber Yu, Shiping Chen.
        </header>
    </article> 

       <article>
        <header>
            [<strong><a href = "https://eips.ethereum.org/EIPS/eip-8034" target="_blank">EIP</a></strong>]
              <strong> ERC8034: Royalty Standard for Referable NFTs </strong>  (draft)
            <br> Ethereum Improment Proposal
            <br> with Ruiqiang, Li,  Shiping Chen, Saber Yu, et al.
        </header>
    </article> 
 
</section>    


<section class="thirteen columns">
<h1>Grants</h1>
 
    <article> 
    <strong> Happy to receive research grants from crypto community & industry! </strong>
    </article>
 
     <article>
        <header>
            <strong> Evaluating MEV Mitigation Solutions </strong>
            <br> - Seed Research Grants, 2025(/6)
            <br> - by <a href ="https://cardanofoundation.org/" target="_blank">DFCRC</a> 
            <br> with Dilum Bandara, Shiping Chen, Vincent Gramoli
        </header>
    </article> 
 
    <article>
        <header>
            <strong> Proportionality in Stake-based Voting </strong> (<a href ="https://projectcatalyst.io/funds/13/f13-cardano-use-cases-concept/proportionality-in-stake-based-voting" target="_blank">#1300163</a>)
            <br> - Project Catalyst <a href ="https://projectcatalyst.io/funds/13" target="_blank">Fund13</a>, 2025
            <br> - by <a href ="https://cardanofoundation.org/" target="_blank">Cardano</a> Foundation 
            <br> with Manvir Schneider, Yuzhe Zhang, Davide Grossi
        </header>
    </article> 
</section>    

<hr>




