
<section class="thirteen columns">
<h1>Project Engagement (long-term)</h1>
 
    <article>
    <strong> We are engaged in an experimentally collaborative project (10yrs) with Digital Finance CRC (<a href ="https://dfcrc.com.au/" target="_blank">DFCRC</a>) and Reserve Bank of Australia (<a href ="https://www.rba.gov.au/" target="_blank">RBA</a>) and on wholesale Central Bank Digital Currency (<a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/wholesale-central-bank-digital-currency.html#project-acacia" target="_blank">CBDC</a>). </strong>
    </article>
 
    <article>
        <header>
            <strong>Project <a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/about.html" target="_blank">Acacia</a></strong> 
            <br> - Exploring the potential and future of wholesale CBDCs. 
            <br> with <a href ="https://markstaples.com/" target="_blank">Mark Staples</a>, Vincent Jadraque, <a href ="https://dilum.bandara.lk/" target="_blank">Dilum Bandara</a>, James Sangalli and RBA teammates 
         
         <br>
         <br>resources towards public:
         <br>
         
            <br> - 2025: (continuing)
            <br> - 2024: Exploring and evaluating the settlement models of wholesale CBDCs, with [<a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/pdf/project-acacia-consultation-paper-2024-11.pdf" target="_blank">consaltant paper</a>].
            <br> - 2023: Exploring CBDC use cases in real life, in [<a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/pdf/australian-cbdc-pilot-for-digital-finance-innovation-project-report.pdf" target="_blank">pilot study</a>].
            
            
        <br>
            <br> more in RBA's <strong><a href ="https://www.rba.gov.au/payments-and-infrastructure/central-bank-digital-currency/wholesale-central-bank-digital-currency.html" target="_blank">webpage</a></strong> 
        </header>
    </article> 
</section>    

<section class="thirteen columns">
<h1>Standards</h1>
    
    <article>
    <strong> We are participating in several standard-drafting processes. Any comments are warmly welcome. </strong>
    </article>

   <article>
        <header>
            [<strong><a href = "https://www.ietf.org/archive/id/draft-chen-dlt-gateway-identification-01.txt" target="_blank">IETF</a></strong>]
               <strong> Gateway Identification and Discovery</strong>  (primary version)
            <br> Internet Engineering Task Force
            <br> with Shiping Chen, Thomas Hardjono
        </header>
    </article> 
        
    <article>
        <header>
            [<strong><a href = "https://eips.ethereum.org/EIPS/eip-5521" target="_blank">EIP</a></strong>]
              <strong> ERC5521: Referable NFT</strong>  (Finalized!!!)
            <br> Ethereum Improment Proposal (p.s., ERCs are application-level EIPs)
            <br> - [<strong><a href = "http://www.r-nft.io/" target="_blank">webpage</a></strong>][<strong><a href = "https://arxiv.org/pdf/2210.10910.pdf" target="_blank">doc</a></strong>]
            <br> with Saber Yu, Shiping Chen, et al.
        </header>
    </article> 

      <article>
        <header>
            [<strong><a href = "https://eips.ethereum.org/EIPS/eip-7634" target="_blank">EIP</a></strong>]
              <strong> ERC7634: Limited transfer count NFT </strong>  (last call)
            <br> Ethereum Improment Proposal
            <br> with Saber Yu, Shiping Chen.
        </header>
    </article> 

       <article>
        <header>
            [<strong><a href = "https://eips.ethereum.org/EIPS/eip-8034" target="_blank">EIP</a></strong>]
              <strong> ERC8034: Royalty Standard for Referable NFTs </strong>  (in PR)
            <br> Ethereum Improment Proposal
            <br> with Ruiqiang, Li,  Shiping Chen, Saber Yu, et al.
        </header>
    </article> 
 
</section>    


<section class="thirteen columns">
<h1>Grants</h1>
 
    <article> 
    <strong> Happy to receive research grants from crypto community & industry! </strong>
    </article>
 
     <article>
        <header>
            <strong> Evaluating MEV Mitigation Solutions </strong>
            <br> - Seed Research Grants, 2025(/6)
            <br> - by <a href ="https://cardanofoundation.org/" target="_blank">DFCRC</a> 
            <br> with Dilum Bandara, Shiping Chen, Vincent Gramoli
        </header>
    </article> 
 
    <article>
        <header>
            <strong> Proportionality in Stake-based Voting </strong> (<a href ="https://projectcatalyst.io/funds/13/f13-cardano-use-cases-concept/proportionality-in-stake-based-voting" target="_blank">#1300163</a>)
            <br> - Project Catalyst <a href ="https://projectcatalyst.io/funds/13" target="_blank">Fund13</a>, 2025
            <br> - by <a href ="https://cardanofoundation.org/" target="_blank">Cardano</a> Foundation 
            <br> with Manvir Schneider, Yuzhe Zhang, Davide Grossi
        </header>
    </article> 
</section>    

<section class="thirteen columns">
<h1>To Communities (Tech reports / Posts)</h1>
 
    <article>
    <strong> We are actively delving into the cutting edge concepts, documenting our findings in tech reports/posts.</strong>
    </article>
 
   <article>
            <header>
           2024: [<strong><a href = "https://arxiv.org/pdf/2401.17581.pdf" target="_blank">Inscription</a></strong>]
            </header>
        <header>
           2023: [<strong><a href = "https://hal.science/hal-04216335v1/file/_CHI_24__Understanding_BRC20__Hope_or_Hype.pdf" target="_blank">BRC20</a></strong>],
                 [<strong><a href = "https://arxiv.org/pdf/2211.15993.pdf" target="_blank">DAO</a></strong>],
                 [<strong><a href = "https://hal.science/hal-04216338v1/file/_CHI_24__SVB_Collapse.pdf" target="_blank">SVB collapse</a></strong>],
                 [<strong><a href = "https://arxiv.org/pdf/2309.00448.pdf?utm_source=Klaviyo&utm_medium=campaign&_kx=n_8MfZpy7c27I6Bvr69iXg%3D%3D.UfURux" target="_blank">Account abstraction</a></strong>]       
        </header>
        <header>
           2022: [<strong><a href = "https://arxiv.org/pdf/2206.08821.pdf" target="_blank">Web3</a></strong>],
                 [<strong><a href = "https://fc23.ifca.ai/codecfin/program.html" target="_blank">OFAC</a></strong>],
                 [<strong><a href = "https://arxiv.org/pdf/2212.09436.pdf" target="_blank">FTX collapse</a></strong>]
        </header>
        <header>      
          2021: [<strong><a href = "https://arxiv.org/pdf/2105.07447.pdf" target="_blank">NFT</a></strong>] 
       </header>
     <br> 
      <header>      
          On media: [<strong>BIP327-MuSig2</strong>] (<a href = "https://blog.bitlayer.org/BIP-327_MuSig2_in_Four_Applications/" target="_blank">BitLayer</a>, <a href = "https://www.bitget.com/news/detail/12560604101751" target="_blank">Bitget</a>, <a href = "https://www.theblockbeats.info/news/54239" target="_blank">BlockBeats</a>,...)
       </header>
    </article>
    
</section>


<hr>




