<section class="thirteen columns">
    <h1>Education</h1>
    
    <article>
        <header>
            <h1>PhD in <a href="https://www.swinburne.edu.au/"> Swinburne University of Technology </a>, cooperated with  <a href="https://data61.csiro.au"> CSIRO Data61 </a> </h1>
            Major in <strong>Blockchain, Cryptocurrencies, Applied Cryptography </strong>
            <br><span>Supervisor, <a href="http://nsclab.org/yang/"> Prof.Yang Xiang </a> and <a href="https://www.cse.unsw.edu.au/~z9195738/"> Dr.Shinping Chen </a>   </span>
            <span><address>Melbourne, Australia</address><time>2018 to present</time></span>
        </header>
    </article>
   
    <article>
        <header> 
            <h1>MSc in <a href="https://ev.buaa.edu.cn/"> Beihang University (BUAA) </a></h1> 
            Major in <strong>Crypotography, Cryptocurrencies</strong>
            <br><span>Supervisor, <a href="https://scholar.google.com/citations?user=z_kFFlkAAAAJ&hl=zh-CN"> Prof.Qinhong Wu </a> </span>
            <span><address>Beijing, China</address><time>2015 to 2018</time></span>
        </header>
        
    </article>
    
    <article>
        <header>
            <h1>BSc in <a href="https://en.nwpu.edu.cn/"> Northwestern Polytechnical Univerisity (NPU) </a> </h1>
            Major in <strong>Electronical Engineering</strong>
            <br><span>Supervisor, <a href="https://scholar.google.com/citations?user=gLnLpAsAAAAJ&hl=zh-CN"> Prof.Mingyi He </a> </span>
            <span><address>Xi`an, China</address><time>2011 to 2015</time></span>
        </header>
    </article>
</section>


