<section class="thirteen columns">
  <h1>Preprints</h1>

  
      <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2410.11295" target="_blank">arXiv</a></strong>]   
               <strong> BRC20 Pinning Attack </strong>
            <br> with Minfeng Qi, Zhipeng Wang, et al.
        </header>
      </article>
      
      <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2308.10422" target="_blank">arXiv</a></strong>]   
               <strong> Split Unlearning </strong>
            <br> with Guangsheng Yu, Yanna Jiang, Xu Wang, et al.
        </header>
      </article>
      
    <article> 
        <header>
          [<strong><a href = "https://hal.science/hal-04216335v1/file/_CHI_24__Understanding_BRC20__Hope_or_Hype.pdf" target="_blank">arXiv</a></strong>]   
               <strong> Understanding BRC20: Hope or Hype </strong>
            <br> with Guangsheng Yu
        </header>
    </article>
      

    <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2402.06459.pdf" target="_blank">arXiv</a></strong>]   
               <strong> Maximizing NFT Incentives: References Make You Rich </strong>
            <br> with Guangsheng Yu, Caijun Sun, et al.
        </header>
    </article>
      

    <article>
        <header>
            [<strong><a href = "https://eprint.iacr.org/2023/1034.pdf" target="_blank">eprint</a></strong>] 
               <strong> Transaction Fairness in Blockchains, Revisited </strong>
            <br>with Rujia Li, Xuanwei Hu, Sisi Duan, Qi Wang, David Galindo
        </header>
    </article>

   <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2310.08895.pdf" target="_blank">arXiv</a></strong>] 
               <strong> How to Rationally Select Your Delegatee in PoS </strong>
            <br>with Yuzhe Zhang, Shiping Chen, Chen Wang
       </header>
    </article> 
 
   <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2211.15993.pdf" target="_blank">arXiv</a></strong>] 
              <strong> An Empirical Study on Snapshot DAOs </strong>
            <br>with Guangsheng Yu, Yilin Sai, et al.
        </header>
    </article>

</section>




<section class="thirteen columns">     
    <h1>Selected Publications</h1>
    
    <article>
    <strong> More publications can be found at ...</strong>
     <br>
     [<strong><a href = "https://scholar.google.com/citations?user=6jdTO0cAAAAJ&hl=en" target="_blank">Google Scholar</a></strong>] 
    </article>


    <article>
        <header>
            [<strong><a href = "" target="_blank">NDSS'25</a></strong>]
                <strong> Eclipse Attacks on Monero's Peer-to-Peer Network </strong>
            <br> Network and Distributed System Security
            <br> with Ruisheng Shi, Zhiyuan Peng, Lina Lan, Yulian Ge, Peng Liu, Juan Wang
       </header>
    </article>

    <article>
        <header>
            [<strong><a href = "https://ieeexplore.ieee.org/document/10723772" target="_blank">TIFS'24</a></strong>][<strong><a href = "https://tcsc-sys.github.io/" target="_blank">data</a></strong>] 
                <strong> Bringing Smart Contract Confidentiality via Trusted Hardware: Fact and Fiction </strong>
            <br> IEEE Transactions on Information Forensics and Security
            <br> with Rujia Li, Yuanzhao Li, Sisi Duan, Qi Wang, David Galindo
       </header>
    </article>

    <article>
        <header>
            [<strong><a href = "https://eprint.iacr.org/2023/1519.pdf" target="_blank">TIFS'24</a></strong>][<strong><a href = "https://rujia.uk/resource/accountable_decryption.pdf" target="_blank">slides</a></strong>]
              <strong> Accountable Decryption made Formal and Practical </strong>
            <br> IEEE Transactions on Information Forensics and Security
            <br>with Rujia Li, Yuanzhao Li, Sisi Duan, Qi Wang, Mark Ryan
       </header>
    </article> 

      <article>
        <header>
            [<strong><a href = "" target="_blank">ACSAC'24</a></strong>]
                <strong> Janus: Enhancing Asynchronous Common Subset with Trusted Hardware </strong>
            <br> Annual Computer Security Applications Conference
            <br> with Liangrong Zhao, Hans Schmiedel, Jiangshan Yu
       </header>
    </article>
  
    <article>
        <header>
            [<strong><a href = "https://dl.acm.org/doi/10.1145/3543507.3583252" target="_blank">WWW'23</a></strong>]
                <strong> Time-manipulation Attack: Breaking Fairness against Proof of Authority Aura </strong>
            <br> Proceedings of the Web Conference
            <br> with  Xinrui Zhang, Rujia Li, Qi Wang, Sisi Duan
       </header>
    </article>
    
  <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2301.04006.pdf" target="_blank">TNNLS'23</a></strong>]
               <strong> IronForge: An Open, Secure, Fair, Decentralized Federated Learning </strong>
             <br> IEEE Transactions on Neural Networks and Learning Systems
            <br>with Guangsheng Yu, Xu Wang, Caijun Sun, Ping Yu, Wei Ni, Ren Ping Liu 
       </header>
    </article>
 
 
    <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2203.03008.pdf" target="_blank">AsiaCCS'22</a></strong>]
              <strong> Exploring Unfairness on Proof of Authority: Order Manipulation Attacks and Remedies </strong>
            <br> ACM Asia Conference on Computer and Communications Security 
            <br>with Rujia Li, et al.
       </header>
    </article>
 
    <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2102.00872.pdf" target="_blank">INFOCOM'21</a></strong>]
                <strong> A Weak Consensus Algorithm and Its Application to High-Performance Blockchain</strong>
            <br>IEEE International Conference on Computer Communications (NDSS [<strong><a href = "https://www.ndss-symposium.org/wp-content/uploads/NDSS2021posters_paper_5.pdf" target="_blank">Poster</a></strong>] version)
            <br>with Rujia Li 
       </header>
    </article>

  <article>
        <header>
            [<strong><a href = "https://link.springer.com/chapter/10.1007/978-3-030-51280-4_2" target="_blank">FC'20</a></strong>][<strong><a href = "https://arxiv.org/pdf/2105.07459.pdf" target="_blank">arXiv</a></strong>]
               <strong> Security Analysis on dBFT Protocol of NEO</strong>
            <br>International Conference on Financial Cryptography and Data Security
            <br>with Jiangshan Yu, Zhiniang Peng, et al.
       </header>
    </article>

</section>


<section class="thirteen columns">
<h1>Systematization of Knowledge</h1>
    
 <article>
    <strong> We are interested in contributing to the systematic organization of existing knownledge timely. </strong>
 <header>
   <br> - [<strong><a href = "https://arxiv.org/pdf/2409.02650" target="_blank">arXiv</a></strong>] Bitcoin L2
   <br> - [<strong><a href = "https://arxiv.org/pdf/2308.05282.pdf" target="_blank">arXiv</a></strong>] DeFi 
   <br> - [<strong><a href = "https://dl.acm.org/doi/full/10.1145/3576899" target="_blank">CSUR'23</a></strong>] DAG-based blockchain 
   <br> - [<strong><a href = "https://dl.acm.org/doi/10.1145/3582882" target="_blank">CSUR'23</a></strong>] Interoperability 
   <br> - [<strong><a href = "https://arxiv.org/pdf/2303.06546.pdf" target="_blank">arXiv</a></strong>] Data sharing in blockchain  
   <br> - [<strong><a href = "https://petsymposium.org/popets/2022/popets-2022-0093.pdf" target="_blank">PETS'22</a></strong>] TEE-assisted confidential smart contract  
  </header>          
  </article>
</section>    



<hr>
