<section class="thirteen columns">
  <h1>Publications</h1>
  
  <article>
    <p>
    My goal is to better understand real-world adversarial behaviors, through both attack analysis and mitigation design. My work is rooted in applied cryptography, distributed computing, and measurement-driven analysis.
    </p>
    
    <br>
    <p style="margin: 0 0 6px 0;"><strong>Recent highlights:</strong></p>
    <ul style="margin: 0 0 12px 0; padding-left: 0; list-style-position: inside;">
      <li style="margin: 0 0 4px 0; line-height: 1.3;">- USENIX Security'26: ViPer Strike: Defeating Visual Reasoning CAPTCHAs via Vision–Language Inference</li>
      <li style="margin: 0 0 4px 0; line-height: 1.3;">- USENIX Security'25: Does Finality Gadget Finalize Your Block? A Case Study of Binance Consensus</li>
      <li style="margin: 0 0 4px 0; line-height: 1.3;">- ACM CCS'25 (🏆): Split Unlearning</li>
      <li style="margin: 0; line-height: 1.3;">- NDSS'25: Eclipse Attacks on Monero's P2P Network</li>
    </ul>

    <br>
      more in my [<strong><a href="/publications.html" target="_blank">publication list&rarr;</a></strong>] and 
      [<strong><a href="https://scholar.google.com/citations?user=6jdTO0cAAAAJ&hl=en" target="_blank">Google scholar</a></strong>] 
   
  </article>
</section>

<hr>
