<section class="thirteen columns">
  <h1>Preprints</h1>

      <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2508.07190" target="_blank">arXiv</a></strong>]   
               <strong> Understanding NFTs from EIP Standards </strong>
            <br> with Minfeng Qi, Ruiqiang Li, Saber Yu, et al.
        </header>
      </article>

  
    <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2505.24724" target="_blank">arXiv</a></strong>]   
               <strong> Talking Transactions: Decentralized Communication through Ethereum Input Data Messages (IDMs) </strong>
            <br> with Xihan Xiong, Zhipeng Wang, Endong Liu, Pascal Berrang, William Knottenbelt
        </header>
      </article>
  
     <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2505.12296" target="_blank">arXiv</a></strong>]   
               <strong> PoLO: Proof-of-Learning and Proof-of-Ownership at Once with Chained Watermarking </strong>
            <br> with Haiyu Deng, Yanna Jiang, Saber Yu, Xu Wang, et al.
        </header>
      </article>
  
     <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2503.04850" target="_blank">arXiv</a></strong>]   
               <strong> Slow is Fast! Dissecting Ethereum’s Slow Liquidity Drain Scams </strong>
            <br> with Minh Trung Tran, Nasrin Sohrabi, et al.
        </header>
      </article>

      <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2410.11295" target="_blank">arXiv</a></strong>]   
               <strong> BRC20 Pinning Attack </strong>
            <br> with Minfeng Qi, et al.
        </header>
      </article>

   <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2310.08895.pdf" target="_blank">arXiv</a></strong>] 
               <strong>How to Rationally Select Your Delegatee in PoS</strong>
            <br>with Yuzhe Zhang, et al.
       </header>
    </article> 

</section>


<section class="thirteen columns">     
    <h1>Selected Publications</h1>
    
    <article>
    More in [<strong><a href = "https://scholar.google.com/citations?user=6jdTO0cAAAAJ&hl=en" target="_blank">Google scholar</a></strong>]  
    </article>

    <article>
        <header>
          [<strong><a href = "" target="_blank">Sec'26</a></strong>]   
               <strong> ViPer Strike: Defeating Visual Reasoning CAPTCHAs via Structured Vision – Language Inference </strong>
            <br> The USENIX Security Symposium [<a href = "https://zenodo.org/records/17971722" target="_blank">artifact</a>]
            <br> with Minfeng Qi, Dongyang He, Lefeng Zhang
        </header>
    </article>
  

      <article>
        <header>
          [<strong><a href = "https://www.usenix.org/system/files/usenixsecurity25-li-rujia.pdf" target="_blank">Sec'25</a></strong>]   
               <strong> Does Finality Gadget Finalize Your Block? A Case Study of Binance Consensus </strong>
            <br> The USENIX Security Symposium [<a href = "https://github.com/tsinghua-cel/bsc-attack-experiment?tab=readme-ov-file#appendix" target="_blank">artifact</a>]
            <br> with Rujia Li, Jingyuan Ding, KetingJia, Haibin Zhang, Sisi Duan
        </header>
      </article>

  
    <article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2308.10422" target="_blank">CCS'25</a></strong>]   
               <strong> Split Unlearning </strong>
            <br> ACM Conference on Computer and Communications Security
             <br>🏆 <font color="magenta">distinguished paper award !</font>
            <br> with Yanna Jiang, Guangsheng Yu, Xu Wang, et al.
        </header>
      </article>
      

    <article>
        <header>
            [<strong><a href = "https://www.ndss-symposium.org/wp-content/uploads/2025-95-paper.pdf" target="_blank">NDSS'25</a></strong>]
                <strong> Eclipse Attacks on Monero's Peer-to-Peer Network </strong>
            <br> Network and Distributed System Security Symposium
            <br> with Ruisheng Shi, Zhiyuan Peng, et al.
       </header>
    </article>

  <article>
        <header>
          [<strong><a href = "http://arxiv.org/pdf/2501.11942" target="_blank">AsiaCCS'25</a></strong>]   
               <strong> BRC20 Snipping Attack </strong>
            <br> ACM ASIA Conference on Computer and Communications Security
            <br> with Minfeng Qi, et al.
        </header>
  </article>

  <article>
        <header>
            [<strong><a href = "https://eprint.iacr.org/2023/1034.pdf" target="_blank">TDSC'25</a></strong>] 
               <strong> Transaction Fairness in Blockchains, Revisited </strong>
            <br>IEEE Transactions on Dependable and Secure Computing
            <br>with Rujia Li, Xuanwei Hu, Sisi Duan, Qi Wang, David Galindo
        </header>
  </article>

  <article>
        <header>
            [<strong><a href = "https://eprint.iacr.org/2023/1034.pdf" target="_blank">TDSC'25</a></strong>] 
               <strong> Invisible Trails? An Identity Alignment Scheme based on Online Tracking </strong>
            <br>IEEE Transactions on Dependable and Secure Computing
            <br>with Ruisheng Shi, Tong Fu, Jiaqi Zeng et al.
        </header>
  </article>

  <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2402.06459" target="_blank">TSC'25</a></strong>]
                <strong> Maximizing NFT Incentives: References Make You Rich </strong>
            <br> IEEE Transactions on Service Computing
            <br> with Saber Yu, et al.
       </header>
    </article>

  <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2404.06077" target="_blank">TSC'25</a></strong>] 
               <strong> Is Your AI Truly Yours? Leveraging Blockcha in for Copyrights, Provenance, and Lineage</strong>
            <br> IEEE Transactions on Service Computing
            <br>with Saber Yu, Yilin Sai, et al.
        </header>
   </article>
  
    <article>
        <header>
            [<strong><a href = "https://ieeexplore.ieee.org/document/10978073" target="_blank">TIFS'25</a></strong>]
                <strong> Randflash: Breaking the Quadratic Barrier in Large-Scale Distributed Randomness Beacons </strong>
            <br> IEEE Transactions on Information Forensics and Security
            <br> with Yang Yang, et al.
       </header>
    </article>
  

    <article>
        <header>
            [<strong><a href = "https://ieeexplore.ieee.org/document/10723772" target="_blank">TIFS'24</a></strong>]
                <strong> Bringing Smart Contract Confidentiality via Trusted Hardware: Fact and Fiction </strong>
            <br> IEEE Transactions on Information Forensics and Security [<a href = "https://tcsc-sys.github.io/" target="_blank">data</a>] 
            <br> with Rujia Li, Yuanzhao Li, Sisi Duan, Qi Wang, David Galindo
       </header>
    </article>

    <article>
        <header>
            [<strong><a href = "https://eprint.iacr.org/2023/1519.pdf" target="_blank">TIFS'24</a></strong>]
              <strong> Accountable Decryption made Formal and Practical </strong>
            <br> IEEE Transactions on Information Forensics and Security [<a href = "https://rujia.uk/resource/accountable_decryption.pdf" target="_blank">slides</a>]
            <br>with Rujia Li, Yuanzhao Li, Sisi Duan, Qi Wang, Mark Ryan
       </header>
    </article> 

      <article>
        <header>
            [<strong><a href = "https://ieeexplore.ieee.org/abstract/document/10917374" target="_blank">ACSAC'24</a></strong>]
                <strong> Janus: Enhancing Asynchronous Common Subset with Trusted Hardware </strong>
            <br> Annual Computer Security Applications Conference
            <br> with Liangrong Zhao, Hans Schmiedel, Jiangshan Yu
       </header>
    </article>
  
    <article>
        <header>
            [<strong><a href = "https://dl.acm.org/doi/10.1145/3543507.3583252" target="_blank">WWW'23</a></strong>]
                <strong> Time-manipulation Attack: Breaking Fairness against Proof of Authority Aura </strong>
            <br> Proceedings of the Web Conference
            <br> with  Xinrui Zhang, Rujia Li, Qi Wang, Sisi Duan
       </header>
    </article>
    
  <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2301.04006.pdf" target="_blank">TNNLS'23</a></strong>]
               <strong> IronForge: An Open, Secure, Fair, Decentralized Federated Learning </strong>
             <br> IEEE Transactions on Neural Networks and Learning Systems
            <br>with Guangsheng Yu, Xu Wang, Caijun Sun, et al. 
       </header>
    </article>
 
    <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2203.03008.pdf" target="_blank">AsiaCCS'22</a></strong>]
              <strong> Exploring Unfairness on Proof of Authority: Order Manipulation Attacks and Remedies </strong>
            <br> ACM Asia Conference on Computer and Communications Security 
            <br>with Rujia Li, et al.
       </header>
    </article>
 
    <article>
        <header>
            [<strong><a href = "https://arxiv.org/pdf/2102.00872.pdf" target="_blank">INFOCOM'21</a></strong>]
                <strong> A Weak Consensus Algorithm and Its Application to High-Performance Blockchain</strong>
            <br>IEEE International Conference on Computer Communications (NDSS [<a href = "https://www.ndss-symposium.org/wp-content/uploads/NDSS2021posters_paper_5.pdf" target="_blank">poster</a>] version)
            <br>with Rujia Li 
       </header>
    </article>

<article>
        <header>
            [<strong><a href = "https://link.springer.com/chapter/10.1007/978-3-030-51280-4_2" target="_blank">FC'20</a></strong>]
               <strong> Security Analysis on dBFT Protocol of NEO</strong>
            <br>International Conference on Financial Cryptography and Data Security [<a href = "https://arxiv.org/pdf/2105.07459.pdf" target="_blank">arXiv</a>]
            <br>with Jiangshan Yu, Zhiniang Peng, et al.
       </header>
 </article>

<article>
      <strong> SoK & Survey </strong>
</article>

<article>
        <header>
          [<strong><a href = "https://arxiv.org/pdf/2409.02650" target="_blank">CSUR'25</a></strong>]   
               <strong> SoK: Bitcoin Layer Two (L2) </strong>
            <br> ACM Computing Surveys
            <br> with Minfeng Qi, Zhipeng Wang, Manvir Schneider, et al.
       </header>
</article>

<article>
       <header>
            [<strong><a href = "https://dl.acm.org/doi/10.1145/3718082" target="_blank">CSUR'25</a></strong>]
                <strong> Blockchain-empowered Trustworthy Data Sharing: Fundamentals, Applications, and Challenges </strong>
            <br> ACM Computing Surveys
            <br> with Linh T Nguyen, Lam Duc Nguyen, Thong Hoang, HMN Dilum Bandara, et al.
       </header>
 </article>
  
<article>
       <header>
            [<strong><a href = "https://dl.acm.org/doi/full/10.1145/3576899" target="_blank">CSUR'23</a></strong>]
                <strong> SoK: DAG-based blockchain Systems </strong>
            <br> ACM Computing Surveys
            <br> with Jiangshan Yu, Shiping Chen, Yang Xiang
       </header>
 </article>

 <article>
      <header>
            [<strong><a href = "https://dl.acm.org/doi/full/10.1145/3582882" target="_blank">CSUR'23</a></strong>]
                <strong> Exploring Blockchains Interoperability: A Systematic Survey </strong>
            <br> ACM Computing Surveys
            <br> with Gang Wang, Shiping Chen
       </header>
      </article>

     <article>
      <header>
            [<strong><a href = "https://dl.acm.org/doi/full/10.1145/3582882" target="_blank">PETS'22</a></strong>]
                <strong> SoK: TEE-assisted Confidential Smart Contract </strong>
            <br> Proceedings on Privacy Enhancing Technologies
            <br> with Rujia Li, Qi Wang, David Galindo, Mark Ryan
      </header>
  </article>

</section>    



<hr>
