
<section class="thirteen columns">
    <h1>Academic Activities</h1>
    <article>
     <p>
      <br>Keynote/session chair, CCS workshop (LAMPS). Aug 2025. Taipei, Taiwan (China)
      <br>Presentation (BRC20 snipping attack), AsiaCCS. Aug 2025. Hanoi, Vietnam
      <br>Panel (Decentralized AI at scale), WWW side event. April 2025. Sydney, Australia
      <br>Talk (BRC20 attack), UTS end-year's cybersecurity seminar. Dec 2024. Sydney, Australia
      <br>Talk (BRC20 attack), UNSW end-year's CSE Seminar. Dec 2024. Sydney, Australia
      <br>Presentaton (BC&AI), IEEE <a href = "https://ieee-cybermatics.org/2024/blockchain/" target="_blank">Blockchain</a>. Aug 2024. Online.
      <br>Presentaton (BRC20 and inscription), IEEE <a href = "https://icbc2024.ieee-icbc.org/" target="_blank">ICBC</a>. May 2024. Dublin, Ireland.
      <br>Presentaton (Account abstratoin), IEEE <a href = "https://ieee-cybermatics.org/2023/blockchain/" target="_blank">Blockchain</a>. Dec 2023. Hainan, China. 
      <br>Talk (Tokenomics), <a href = "https://blockchain.innovationkyoto.org/bck2023/" target="_blank">BCK2023</a>. Oct 2023. Kobe, Janpan. 
      <br>Talk (Ponzi n stablecoin), <a href = "https://dfcrc.com.au/" target="_blank">DFCRC</a> Seminar. Aug 2023. Sydney, Australia. 
     <br>ETHGlobal Community <a href = "https://twitter.com/ETHGlobal/status/1631231259451215873" target="_blank">Call</a> (China). March 2023. Online. [<a href = "https://ethglobal.medium.com/inside-chinas-ethereum-ecosystem-9fe3605c3d7a" target="_blank">Media</a>]  
     <br>
     <br>More (<strong>Host/Talk/Presentation</strong>) in <strong><a href="https://qinwang.tech/static/img/talk_list.pdf" target="_blank">Full List</a></strong>  
     </p>

    <br><strong>Short visit</strong>: with my sinecere thanks for their kind hospitality
     <br>- Prof. <a href = "https://www.doc.ic.ac.uk/~wjk/" target="_blank">William Knottenbelt</a> (Imperial College London, UK; Jun. 2024) 
     <br>- Prof. <a href = "https://www.gsais.kyoto-u.ac.jp/staff/ikeda/en_index.html" target="_blank">Yuichi Ikeda</a>  (Kyoto Univ., Japan; Oct. 2023)
    
    </article>

</section>


<section class="thirteen columns">
    <h1>Academic Services</h1>
    <article>

    <p><strong>Editorship</strong>  (to present):
       <br>  - <a href="https://www.elspub.com/journals/blockchain/home/" target="_blank">Blockchain</a> (Associate Editor, 2025-) 
       <br>  - <a href="https://www.sciencedirect.com/journal/blockchain-research-and-applications" target="_blank">BCRA</a>: Blockchain Research and Applications (Youth editorial board, 2024-)
       <br>  - IET Blockchain (Guest editor, <a href="https://ietresearch.onlinelibrary.wiley.com/hub/journal/26341573/homepage/call-for-papers/si-2024-blockchain-ai-integration" target="_blank">BC&AI</a>, 2024-)
       <br>  - Frontier in Blockchain (Guest editor, <a href="https://www.frontiersin.org/research-topics/68059/dao-governance-and-fairness" target="_blank">DAO</a>, 2023-) 
       <br>  - Frontier in Blockchain (Reviewr board, <a href="https://www.frontiersin.org/journals/blockchain/sections/blockchain-in-industry/editors" target="_blank">BC Industry</a>, 2023-)
       <br>  - <a href="https://www.igi-global.com/journals/open-access/reviewers/international-journal-blockchain-applications-secure/290373" target="_blank">IJBASC</a> (Reviewr board, 2023-)
    
    <p><strong> Program chair:</strong>
    <br>  2025: Crypto for Real World Asset (CRWA)@AsiaCrypt
    <br>  2023: <a href="https://www.servicessociety.org/icbc" target="_blank">ICBC</a></strong> (with <a href="https://link.springer.com/book/10.1007/978-3-031-44920-8?sap-outbound-id=FA5067B007DF9D4FD483ACBD2F78DFE4345F6547&utm_source=standard&utm_medium=email&utm_campaign=000_LAN36_0000019083_Book%20author%20congrats%20NEW&utm_content=EN_34155_20231005&mkt-key=8D09219F09111EDE97FA054F08BCDAE7" target="_blank"> proceedings</a></strong>)
    </p>
   
        
    <p><strong>Conference TPC</strong>:
         <br>  2026: <a href="https://www.ndss-symposium.org/ndss2026/" target="_blank">NDSS</a>, WWW, <a href="https://fc26.ifca.ai/" target="_blank">FC</a>,  <a href="https://icbc2026.ieee-icbc.org/group/91" target="_blank">ICBC</a>, <a href="https://2025.aiwareconf.org/" target="_blank">AIware</a>@ASE, <a href="https://conf.researchr.org/home/icse-2026/agent-2026" target="_blank">Agent</a>@ICSE, SAC
         <br>  2025: <a href="https://2025.ijcai.org/" target="_blank">IJCAI</a>, <a href="https://www2025.thewebconf.org/" target="_blank">WWW</a>, <a href="https://fc25.ifca.ai/cfp.html" target="_blank">FC</a>, <a href="https://icbc2025.ieee-icbc.org/committees/technical-program-committee" target="_blank">ICBC</a>, <a href="https://bck-2025.isrdc.in" target="_blank">BCK</a>, <a href="https://ieee-cybermatics.org/2025/blockchain/" target="_blank">IEEE Blockchain</a>, <a href="https://www.cloud-conf.net/bsci/2025/committees.html" target="_blank">BSCI</a>,  <a href="https://bcra-conf.github.io/2025/program-committee/" target="_blank">BRCA</a>, <a href="https://icdlt.ieeepunesection.org/" target="_blank">ICDLT</a>, <a href="https://www.cas-blockchain-certification.com/en/acm-sac-dapp-track" target="_blank">SAC</a>
         <br>  2024: IEEE Blockchain, DePIN@ICBC, BSCI@AsiaCCS
         <br>  2023: IEEE Blockchain, DePIN@WF-IoT, BSCI@AsiaCCS, NSE

    <p><strong>Journal reviewer:</strong> 
         <br>  - (IEEE series) TDSC, TIFS, TSE, TPDS, TNNLS, TC, TNSM, TNSE, TII, TITS, TBD, TCSS, TCE, IoTJ
         <br>  - (ACM series) TOMM, TMIS, TAAS, DLT, ACM Computing Survey
         <br>  - (Elsevier) FGCS, Neurocomputing, Blockchain: Research and Applications
  
    <p><strong>Community reviewer (external):</strong> 
       <br>   Cardano's Research Project
      <br>   
    

    </article>
</section>

<section class="thirteen columns">
    <h1>Teaching</h1>
    <article>
        <br> 48436, Digital Forensics. Univeristy of Technology Sydney. 2025 (Tutor). 
        <br> 41900, Cryptography. Univeristy of Technology Sydney. 2025 (Tutor). 
        <br> CITS5206, Information Technology Capstone Project. University of Western Australia. 2024 (Guest lecturer). 
        <br> INFT6201, Big Data. University of Newcastle (Sydney campus). 2023 (Tutor). 
        <br> INFT6201, Big Data. University of Newcastle (Sydney campus). 2022 (Tutor). 
    </article>
</section>


<section class="thirteen columns">
    <h1>Selected Honours</h1>
    <article>
        <br>Distinguished Paper Award, <a href="https://www.sigsac.org/ccs/CCS2025/awards/" target="_blank">CCS</a>, 2025.
         <br>Best Paper Runner up, <a href="https://symposium-dlt.org/" target="_blank">SDLT</a>, 2025.
        <p> Best Paper Award, <a href="https://prdc.dependability.org/PRDC2024/program.html?id=fullprogram" target="_blank">PRDC</a>, 2024.
        <br>Best Paper Finalists, <a href="https://icbc2024.ieee-icbc.org/program/best-paper-and-runner" target="_blank">ICBC</a>, 2024. (4 out of <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10634388" target="_blank">249</a>]) [<a href="https://arxiv.org/pdf/2402.17748" target="_blank">paper</a>] 
        <br>Best Paper Award, ICICS, 2023. (1 out of <a href="https://books.google.com.au/books?hl=zh-CN&lr=&id=O1beEAAAQBAJ&oi=fnd&pg=PR5&dq=Information+and+Communications+Security+-+25th+International+Conference,+ICICS+2023,+Tianjin,+China,+November+18-20,+2023,+Proceedings&ots=eddELMY6hg&sig=ZGKwWqFHINBfe0sXny2Ez7_CQ1o&redir_esc=y#v=onepage&q=Information%20and%20Communications%20Security%20-%2025th%20International%20Conference%2C%20ICICS%202023%2C%20Tianjin%2C%20China%2C%20November%2018-20%2C%202023%2C%20Proceedings&f=false" target="_blank">210</a>) [<a href="https://arxiv.org/pdf/2211.10001.pdf" target="_blank">paper</a>]
        <br>CSIRO's SCS Biannual Science Excellence Award, 2023. 
        <br>CSIRO Top-up PhD Scholarship, Australia, 2018-2022. 
        <br>Chinese Government Award For Outstanding PhD Scholar Abroad, 2021.
        <br>National Scholarship Award, the Ministry of Education of PR China, 2017.
        <br>Academic Excellence Scholarship, BUAA, China. 2015-2017.
        <br>Academic Excellence Scholarship, NPU, China. 2011-2015.
        </p>
    </article>
</section>


