<section class="thirteen columns">
    <h1>Academic Services</h1>
    <article>
    <p><strong>Editorship</strong> (to present):
       <br> - <a href="https://www.elspub.com/journals/blockchain/home/" target="_blank">Blockchain</a> (Associate Editor, 2025-)
       <br> - <a href="https://www.sciencedirect.com/journal/blockchain-research-and-applications" target="_blank">BCRA</a>: Blockchain Research and Applications (Youth editorial board, 2024-)
       <br> - IET Blockchain (Guest editor, <a href="https://ietresearch.onlinelibrary.wiley.com/hub/journal/26341573/homepage/call-for-papers/si-2024-blockchain-ai-integration" target="_blank">BC&AI</a>, 2024-)
       <br> - Electronics (Guest editor, <a href="https://www.mdpi.com/journal/electronics/special_issues/U8FVL603TH" target="_blank">BC&AI</a>, 2025-)
       <br> - Frontier in Blockchain (Associate editor, <a href="https://www.frontiersin.org/journals/blockchain/sections/blockchain-for-web3-and-the-metaverse" target="_blank">Web3</a>, 2026-)
       <br> - Frontier in Blockchain (Guest editor, <a href="https://www.frontiersin.org/research-topics/68059/dao-governance-and-fairness" target="_blank">DAO</a>, 2023-2026) (cf. [<a href="https://www.frontiersin.org/journals/blockchain/articles/10.3389/fbloc.2026.1840145/full" target="_blank">editorials</a>])
      </p>

    <br>
    <p><strong>Program chair:</strong>
    <br> 2027: Local chair, The International Conference on Software Architecture (<a href="https://conf.researchr.org/committee/icsa-2027/icsa-2027-organizing-committee" target="_blank">ICSA</a>)
    <br><span style="display: inline-block; width: 40px;"></span>General chair, Workshop on Trustworthy Agentic Theory (<a href="https://tat-icsa-2027.utscyber.com/#cfp" target="_blank">TAT</a>)@ICSA
    <br> 2026: General chair, Workshop on 2nd Crypto for Real World Asset (<a href="" target="_blank">CRWA</a>)@AsiaCrypt
    <br> Program Co-Chairs, IEEE Cyber Science and Technology Congress (<a href="https://cyber-science.org/2026/cyberscitech/" target="_blank">CyberSciTec</a>)
    <br> 2025: General chair, Workshop on 1st Crypto for Real World Asset (<a href="https://crwa.site" target="_blank">CRWA</a>)@AsiaCrypt
    <br> 2023: General chair, <a href="https://www.servicessociety.org/icbc" target="_blank">ICBC</a> (cf. [<a href="https://link.springer.com/book/10.1007/978-3-031-44920-8" target="_blank">proceedings</a>])
    </p>

    <br>
    <p><strong>Some recent TPC:</strong>
    <br> 2027: NDSS, USENIX Security, FC, AisaCCS, NeuIPS, AAAI
    <br> 2026: NDSS, CCS, FC, WWW, KDD, IJCAI, ACMMM
    <br> 2025: FC, WWW
     </p>

    <br> 
          more in my [<strong><a href="/service.html" target="_blank">service list&rarr;</a></strong>] 
   
    </article>
</section>