
<section class="thirteen columns">
    <h1>Academic Activities</h1>
    <article>
     <p>
     <br>ETHGlobal Community <a href = "https://twitter.com/ETHGlobal/status/1631231259451215873" target="_blank">Call</a> (China). March 2023. Online. <a href = "https://ethglobal.medium.com/inside-chinas-ethereum-ecosystem-9fe3605c3d7a" target="_blank">[Media]</a>  
     <br>Talk (Exploring Web3), Kunyao Academy (China). July 2022. Online.   
     <br>Paper presentation, PETS'22. July 2022. Online.  
          <a href = "https://youtu.be/dUqcBIMptlY" target="_blank">[Video]</a>
     <br>Paper presentation, AsiaCCS'22. May 2022. Online.   
          <a href = "https://youtu.be/3EplQGPflWk" target="_blank">[Video]</a>
     <br>Session host, IEEE Blockchain'21. Dec 2021. Online.
     <br>Paper presentation, INFOCOM'21. May 2021. Online.
         <a href = "https://youtu.be/G5HO9kobm6Y" target="_blank">[Video]</a>
     <br>Paper presentation, ICBC'21. May 2021. Online.
         <a href = "https://www.youtube.com/watch?v=sX72TvJJk-s&t=411s" target="_blank">[Video]</a>
     <br>Poster presentation, NDSS'21. Feb 2021. Online.
     <br>Paper presentation, ACISP'20. Dec 2020. Online.
         <a href = "https://youtu.be/X-YGjhdto9o" target="_blank">[Video]</a>
     <br>Paper presentation, ISC'20. Dec 2020. Online.
         <a href = "https://www.youtube.com/watch?v=UF-yFuIEYe8&t=29s" target="_blank">[Video]</a>
     <br>Poster presentation, SP'20. May 2020. Online.
         <a href = "https://youtu.be/6z9Nfo37DQA" target="_blank">[Video]</a>
     <br>Paper presentation, FC'20. Feb 2020. Kota Kinabalu, Malaysia.
     <br>Poster presentation, Middleware'19. Dec 2019. Online.
     <br>Talks, NSClab. July 2019. Melbourne, Australia.
     <br>Talks, CSIRO Data61. March 2019, Adelede, Australia.
     </p>
    </article>
</section>


<section class="thirteen columns">
    <h1>Academic Services</h1>
    <article>
        
    <p><strong> Topic Editors:</strong>     	
    <br>
        2023: Frontier in Blockchain<a href="https://www.frontiersin.org/research-topics/50922/decentralized-autonomous-organizations-daos" target="_blank"> (DAO) </a></strong>
    </p>
    
    <p><strong> Editorial Review Board:</strong>     	
    <br> 2023: Frontier in Blockchain <a href="https://www.frontiersin.org/journals/blockchain/sections/blockchain-in-industry" target="_blank"> (BC Industry)</a></strong>
    <br> 2022: <a href="https://www.igi-global.com/journal/international-journal-blockchain-applications-secure/290373" target="_blank"> IJBASC </a></strong>
    </p>
        
    <p><strong> PC Member:</strong>     	
    <br>    2023: <a href="https://www.cloud-conf.net/bsci/2023/" target="_blank"> BSCI</a></strong>@AsiaCCS.
    <br>    2022: <a href="http://www.cloud-conf.net/bsci/2022/#program/" target="_blank"> BSCI</a></strong>@AsiaCCS, 
             <a href="https://socialsec2022.xidian.edu.cn/" target="_blank"> SocialSec</a></strong>.
    </p>

    <p><strong> Invited Reviewer:  <a href="https://www.webofscience.com/wos/author/record/352055" target="_blank"> [Publons] </a></strong>   
    <br>
        2023: <a href="https://onlinelibrary.wiley.com/journal/14676419" target="_blank">JOES</a></strong>, 
              <a href="https://www.sciencedirect.com/journal/neurocomputing" target="_blank">Neucom</a></strong>,
              <a href="https://www.sciencedirect.com/journal/isa-transactions" target="_blank">ISA Trans</a></strong>, 
              <a href="https://www.mdpi.com/journal/computers" target="_blank">Computers</a></strong>,
              <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6570650" target="_blank">IEEE TCSS</a></strong>,
              <a href="https://www.computer.org/csdl/journal/oj" target="_blank">IEEE OJCS</a></strong>,
              <a href="https://www.mdpi.com/journal/sensors" target="_blank">Sensor</a></strong>,
              <a href="https://www.mdpi.com/journal/jsan" target="_blank">JSAN</a></strong>.

    <br>
        2022: <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=8858" target="_blank">TDSC</a></strong>,
              <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=10206" target="_blank">TIFS</a></strong>,
              <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=71" target="_blank">TPDS</a></strong>,
              <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6979" target="_blank">TITS</a></strong>,
              <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=90" target="_blank">TNET</a></strong>,
              <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6488902" target="_blank">TNSE</a></strong>,
              <a href="https://www.comsoc.org/publications/journals/ieee-tnsm" target="_blank">TNSM</a></strong>,
              <a href="https://dl.acm.org/journal/dlt" target="_blank">ACM DLT</a></strong>,
              <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=6488907" target="_blank">IoTJ</a></strong>,
              <a href="https://esorics2022.compute.dtu.dk/" target="_blank">ESORICS</a></strong>,
              <a href="https://www.sciencedirect.com/journal/future-generation-computer-systems" target="_blank">FGCS</a></strong>,
              <a href="https://onlinelibrary.wiley.com/journal/21613915" target="_blank">ETT</a></strong>,
              <a href="https://www.hindawi.com/journals/scn/" target="_blank">SCN</a></strong>,
              <a href="https://www.mdpi.com/journal/informatics/sections/Digital_Humanities" target="_blank">Informatics</a></strong>,
              <a href="https://conf.researchr.org/home/ease-2022/bsews-2022#Call-for-Papers" target="_blank">BSEW</a></strong>@EASE,
              <a href="https://www.journals.elsevier.com/computer-standards-and-interfaces" target="_blank">CSI</a></strong>, 
              <a href="https://www.tandfonline.com/journals/ucbs20?gclid=CjwKCAjwjtOTBhAvEiwASG4bCLfDFwRNv3Pqxv1YwkLAf6ocabyaYqFdGE1LnEMtoWW0Ac92gl6oBhoCvAEQAvD_BwE" target="_blank">Cybernetics</a></strong>. 
              Neucom, ISA Trans.
    <br>
        2021: TDSC, ETT, TIFS,
              <a href="https://peerj.com/computer-science/" target="_blank">PeerJ</a></strong>,
              <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=4267003" target="_blank">ISJ</a></strong>,
              <a href="https://www.journals.elsevier.com/blockchain-research-and-applications" target="_blank">BCRA</a></strong>.
    <br>
        2020: TDSC, IoTJ, ESORICS, <a href="http://www.cloud-conf.net/bsci/2021/submission.html" target="_blank">BSCI</a></strong>, 
              <a href="https://www.journals.elsevier.com/computer-standards-and-interfaces" target="_blank">IEEE Access</a></strong>.
    <br>
        2019: TDSC, IEEE Access, <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=9424" target="_blank">TII</a></strong>.
    </p>

    <p><strong> External Reviewer:</strong>     	
    <br><a href="https://www.springer.com/journal/10207" target="_blank">IJIS</a></strong> (2022),
        <a href="https://icbc2021.ieee-icbc.org/" target="_blank">ICBC</a></strong> (2021, 2020, 2019),
        <a href="https://dl.acm.org/journal/csur" target="_blank">CSUR</a></strong> (2020, 2019), 
        <a href="https://scisec.org/scisec2019/index.html" target="_blank">SciSec</a></strong> (2019).
    </p>
    </article>
</section>

<section class="thirteen columns">
    <h1>Teaching</h1>
    <article>
        <p>
        <br> INFT6201, Big Data. University of Newcastle (Sydney campus). Trimester 3, 2022 (Lab demonstrator). 
        </p>
    </article>
</section>


<section class="thirteen columns">
    <h1>Selected Honours</h1>
    <article>
        <p>
        <br>Chinese Government Award For Outstanding PhD Scholar Abroad, 2021. 
        <br>CSIRO Top-up PhD Scholarship, Australia, 2018-2022. 
        <br>National Scholarship, the Ministry of Education of China, 2017. (1% in China)
        <br>Academic Excellence Scholarship, BUAA, China. 2015-2017.
        <br>Academic Excellence Scholarship, NPU, China. 2011-2015.
        </p>
    </article>
</section>


