<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Résumé">
    <meta name="author" content="{{ site.name }} @{{ site.twitter }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}static/img/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
    
    <style>
     .center {
           text-align: center;
           }
     </style>
</head>
    
    
<body>
<div class="container">
   <header class="three columns">
        <img src="{{ site.baseurl }}static/img/Avatar1.jpeg" class="me">
        <p style="font-size: 12px; color: #333; margin: 5px 0 10px -25px; text-align: center;">(2019, Brisbane)</p>
        <h1 style="margin-top: 0;">{{ site.name }}</h1>
        <p>
            <a href="{{ site.tel_full }}">{{ site.tel }}</a>
        </p>
        <!-- <address> -->
        <!--  <a href="{{ site.google_maps }}"> -->
        <!--     {{ site.address.street }}<br/> -->
        <!--    {{ site.address.postcode }}<br/> -->
        <!--      {{ site.address.city }}<br/> -->
        <!--       {{ site.address.country }} -->
        <!--    </a> -->
        <!-- </address> -->
        
             <!--<a href="{{ site.website_full }}">{{ site.website }}</a><br/>-->
        
        <p>
            <!--<a href="{{ site.email_full }}">{{ site.email }}</a><br/>-->
            <br><strong><i class="fa fa-envelope"></i> Email</a></strong>
            <br><strong> qinwangtech [at] gmail.com </strong>
            <br><strong><a href="{{ site.google_maps }}">{{ site.website }}<i class="fa fa-globe"></i> Sydney </a></strong>
            <br><strong><a href="https://github.com/{{ site.github }}" target="_blank" ><i class="fa fa-github"></i> Github</a></strong>
            <br><strong><a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" ><i class="fa fa-linkedin-square"></i> Linkedin</a></strong>
            <br><strong><a href="https://twitter.com/{{ site.twitter }}" target="_blank" ><i class="fa fa-twitter"></i> Twitter</a></strong>
        </p>
   </header>
    
   <div class="thirteen columns clearfix">

        {{ content }}

    <footer class="center">
    <!-- <footer class="thirteen columns"> -->
        <hr>
        <p>© Rights to GitHub Pages & Jekyll Themes  <br> Latest updated in July 2025.</p>
        
    
        <div style="margin-top: 10px;">
            <img src="{{ site.baseurl }}static/img/doge.png" alt="Doge" style="max-width: 60px; height: auto;">
        </div>
  
   <div class="txtCenter" style="display:inline-block;width:200px;">
   <script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5faxef9aqbo&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async">
   </script>
   </div>
   </div> 
   </div>


        
    </footer>
</body>
</html>
